#small-image {
    width: 30%;
    height: 50%;
  }

body {
    background-color: ivory;
    opacity: 1;
 }
 
img {
  position: absolute;
  top: 150px;
  right: 900px;
}

.circle {
  width: 375px;
  height: 375px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  text-align: center;

}

.links {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 450px;
  bottom: 50px;
}

.container {
  position: relative;
  height: 200px;
  width: 1000px;
  border: 1px solid black;
}

.text {
  position: absolute;
  top: 150px;
  left: 1100px;
}

.bulk {
  position: absolute;
  top: 200px;
  left: 900px;
}

.techpage {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.text {
  position: absolute;
  top: 250px;
  left: 500px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  font-size: 24px;
  margin-bottom: 20px;
}

strong {
  display: block;
  font-weight: bold;
}